@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Jost:300,600,500,400,700,italic");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

:root {
  --mainblack: rgba(45, 45, 45, 1);
  --mainlight-black: rgba(65, 65, 65, 1);
  --mainblue: rgba(121, 150, 252, 1);
  --sec-white: rgba(255, 255, 255, 1);
  --secgray: rgba(201, 201, 201, 1);
}

.landing{
  background-color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: rgb(45 45 45);
}

.div {
  background-color: var(--mainblack);
  width: 1440px;
  height: 2602px;
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 17px;
  left: 530px;
  background-color: transparent;
  z-index: 100;
}

nav a {
  font-family: 'Jost', sans-serif;
  color: #C9C9C9;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  padding: 0 30px;
}

nav a:hover, nav a:focus {
  color: #FFFFFF;
}


.overlap {
  position: absolute;
  width: 1153px;
  height: 757px;
  top: 0;
  left: 147px;
}

.main {
  position: absolute;
  width: 1153px;
  height: 757px;
  top: 0;
  left: 0;
}

.overlap-group {
  position: relative;
  width: 1170px;
  height: 757px;
  left: -15px;
}

.group {
  position: absolute;
  width: 661px;
  height: 757px;
  top: 0;
  left: 0;
}

.img {
  position: absolute;
  width: 88px;
  height: 90px;
  top: 303px;
  left: 91px;
}

.group-2 {
  position: absolute;
  width: 693px;
  height: 427px;
  top: 148px;
  left: 477px;
}

.group-3 {
  position: absolute;
  width: 108px;
  height: 90px;
  top: -15px;
  left: -15px;
}

.group-4 {
  position: absolute;
  width: 522px;
  height: 140px;
  top: 287px;
  left: 169px;
}

.group-button {
  position: absolute;
  width: 251px;
  height: 60px;
  top: 0;
  left: 271px;
  background-color: var(--mainlight-black);
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.group-button:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}

.group-5 {
  position: relative;
  width: 199px;
  height: 35px;
  top: 13px;
  left: 27px;
}


.text-wrapper {
  width: 122px;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  font-family: "Jost", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.arrow {
  position: absolute;
  width: 52px;
  height: 11px;
  top: 11px;
  left: 146px;
}

.group-wrapper {
  position: absolute;
  width: 251px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--mainblue);
  border-radius: 10px;
  box-shadow: 0px 0px 15px #7996fc26;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.group-wrapper:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}

.text-wrapper-2 {
  width: 138px;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  font-family: "Jost", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper {
  position: absolute;
  width: 522px;
  height: 60px;
  top: 80px;
  left: 0;
  background-color: var(--mainlight-black);
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}


.div-wrapper:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}


.group-6 {
  position: relative;
  width: 470px;
  height: 35px;
  top: 13px;
  left: 27px;
}

.telegram {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 3px;
  left: 0;
  object-fit: cover;
}

.text-wrapper-3 {
  position: absolute;
  width: 356px;
  top: 0;
  left: 49px;
  font-family: "Jost", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.arrow-2 {
  position: absolute;
  width: 52px;
  height: 11px;
  top: 11px;
  left: 417px;
}

.UX-UI-designer {
  position: absolute;
  width: 466px;
  top: 30px;
  left: 169px;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}

.span {
  font-weight: 500;
}

.text-wrapper-4 {
  font-weight: 700;
}

.text-wrapper-5 {
  font-weight: 500;
  font-size: 48px;
}

.cit {
  position: absolute;
  width: 1197px;
  height: 377px;
  top: 823px;
  left: 146px;
}

.p {
  width: 1193px;
  top: 72px;
  left: 0;
  font-weight: 500;
  font-style: italic;
  font-size: 42px;
  position: absolute;
  font-family: "Jost", Helvetica;
  color: var(--sec-white);
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 300;
  color: var(--secgray);
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-2 {
  position: absolute;
  width: 1198px;
  height: 894px;
  top: 1266px;
  left: 141px;
}

.portfolio {
  width: 1198px;
  height: 894px;
  position: absolute;
  top: 0;
  left: 0;
}

.group-7 {
  position: relative;
  width: 1200px;
  height: 894px;
}

.text-wrapper-7 {
  top: 0;
  left: 4px;
  font-weight: 700;
  font-size: 48px;
  position: absolute;
  font-family: "Jost", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.group-8 {
  position: absolute;
  width: 1189px;
  height: 317px;
  top: 127px;
  left: 0;
}

.group-9 {
  position: absolute;
  width: 390px;
  height: 317px;
  top: 0;
  left: 0;
}

.text-wrapper-8 {
  position: absolute;
  width: 354px;
  top: 265px;
  left: 17px;
  font-family: "Jost", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.doggy {
  position: absolute;
  width: 396px;
  height: 235px;
  top: 0;
  left: -4px;
  object-fit: cover;
}

.group-10 {
  position: absolute;
  width: 364px;
  height: 304px;
  top: 0;
  left: 420px;
}

.text-wrapper-9 {
  top: 252px;
  left: 0;
  position: absolute;
  width: 354px;
  font-family: "Jost", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.corny {
  position: absolute;
  width: 362px;
  height: 227px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.group-11 {
  position: absolute;
  width: 390px;
  height: 317px;
  top: 0;
  left: 801px;
}

.img-2 {
  position: absolute;
  width: 388px;
  height: 227px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.group-12 {
  position: absolute;
  width: 1185px;
  height: 356px;
  top: 447px;
  left: 4px;
}

.group-13 {
  height: 318px;
  top: 38px;
  position: absolute;
  width: 390px;
  left: 0;
}

.text-wrapper-10 {
  top: 266px;
  left: 17px;
  position: absolute;
  width: 354px;
  font-family: "Jost", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.group-14 {
  position: absolute;
  width: 356px;
  height: 356px;
  top: 0;
  left: 420px;
}

.text-wrapper-11 {
  position: absolute;
  width: 354px;
  top: 304px;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.mobile-app {
  position: absolute;
  width: 146px;
  height: 304px;
  top: 0;
  left: 104px;
  object-fit: cover;
}

.group-15 {
  position: absolute;
  width: 390px;
  height: 318px;
  top: 38px;
  left: 797px;
}

.group-16 {
  position: absolute;
  width: 1196px;
  height: 60px;
  top: 834px;
  left: 4px;
}

.group-17 {
  position: absolute;
  width: 833px;
  height: 60px;
  top: 0;
  left: 361px;
}

.group-18 {
  position: relative;
  height: 60px;
}





.text-wrapper-12 {
  top: 0;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  left: 0;
  font-family: "Jost", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.group-button-2 {
  position: absolute;
  width: 251px;
  height: 60px;
  top: 0;
  left: 291px;
  background-color: var(--mainlight-black);
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.group-button-2:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}

.group-button-3 {
  position: absolute;
  width: 251px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--mainlight-black);
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}
.group-button-3:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}

.group-button-4 {
  position: absolute;
  width: 251px;
  height: 60px;
  top: 0;
  left: 582px;
  background-color: var(--mainlight-black);
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}
.group-button-4:hover {
  background-color: rgba(187, 187, 187, 0.445); 
}


.see-more-button {
  position: absolute;
  width: 361px;
  top: 7px;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 500;
  color: var(--secgray);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s; 
}

.see-more-button:hover {
  color: #ffffff; 
}


.group-19 {
  height: 317px;
  top: 127px;
  position: absolute;
  width: 390px;
  left: 0;
}

.footer {
  position: relative;
  width: 1440px;
  height: 310px;
  top: 2292px;
  left: 0;
  background-color: transparent;

  right: 500px;
}

.hhh{
  position: relative;
  width: calc(100% + 460px);
  height: 310px; 
  left: -230px; 
  background-color: transparent;
  background-image: url(./img/rectangle-50.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.group-20 {
  position: absolute;
  width: 385px;
  height: 203px;
  top: 42px;
  left: 920px;
}

.group-21 {
  position: absolute;
  width: 91px;
  height: 203px;
  top: 0;
  left: 0;
}

.text-wrapper-13 {
  font-family: "Jost", Helvetica;
  font-weight: 500;
  color: var(--sec-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
}

.group-22 {
  position: absolute;
  width: 93px;
  height: 138px;
  top: 65px;
  left: 0;
}

.text-wrapper-14 {
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Jost", Helvetica;
  color: var(--sec-white);
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.text-wrapper-14:hover, .text-wrapper-14:focus {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
}

.text-wrapper-15 {
  top: 56px;
  font-weight: 400;
  color: var(--secgray);
  font-size: 18px;
  position: absolute;
  left: 0;
  font-family: "Jost", Helvetica;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.text-wrapper-15:hover, .text-wrapper-15:focus {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
}

.text-wrapper-16 {
  position: absolute;
  top: 112px;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: var(--secgray);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.text-wrapper-16:hover, .text-wrapper-16:focus {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
}


.group-23 {
  position: absolute;
  width: 138px;
  height: 203px;
  top: 0;
  left: 249px;
}

.group-24 {
  position: absolute;
  width: 80px;
  height: 138px;
  top: 62px;
  left: 0;
}

.text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: var(--secgray);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.text-wrapper-17:hover, .text-wrapper-17:focus {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
}

.group-25 {
  position: absolute;
  width: 214px;
  height: 203px;
  top: 49px;
  left: 145px;
}

.text-wrapper-18 {
  position: absolute;
  width: 190px;
  top: 102px;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: var(--sec-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-19 {
  position: absolute;
  width: 208px;
  top: 0;
  left: 0;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: var(--sec-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-20 {
  position: absolute;
  width: 177px;
  top: 167px;
  left: 3px;
  font-family: "Jost", Helvetica;
  font-weight: 400;
  color: var(--sec-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}